.App {
  text-align: center;
}

.wheelchair{
  width: 10rem;
  height: 10rem;
}

.bsl_sign{
  width: 10rem;
  height: 10rem;
}

/* flex-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
} */

.flex-container{

  justify-items: center;
  display: inline-flex;
  position: ;
  flex-direction: row;
  justify-content: space-evenly;
    /* flex-shrink: 1; */
}


