.App {
  text-align: center;
}

.wheelchair{
  width: 10rem;
  height: 10rem;
}

.bsl_sign{
  width: 10rem;
  height: 10rem;
}

.flex-container{

  justify-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.intro_video{
  display: flex;
  align-items: center;
  margin-left: 25%;
  
}

.hotel_card{
  display: flex;
  flex-direction:row;
  margin: 0 auto;
  float: none;

}


