.App {
  text-align: center;
}

.wheelchair{
  width: 10rem;
  height: 10rem;
}

.bsl_sign{
  width: 10rem;
  height: 10rem;
}

/* flex-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
} */

.flex-container{

  justify-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.intro_video{
  display: flex;
  align-items: center;
  
}

.hotel_card{
  display: flex;
  flex-direction:row;
  margin-top: 5%;
  width: 100%;
  height: fit-content;

}


