.main-footer{
    color: rgb(47, 45, 45);
    background-color: #FFBD58;
    padding-top: -100vh;
    position: absolute;
    bottom: 1%;
    width:100%;
    font-size: 25px;
    text-align: center;
}

li{
list-style: none;
}
