.title {
    text-align: center;
    font-size: large;
    padding-top: 90px;
    padding-bottom: 90px;
    border-color: black;

}

.flex-container {
    display: block;
    width: 100%;
}

.homeButtons{
    border-color: black;
    border-radius: 20px;
    border-width: 20px;
}

