.title {
    text-align: center;
    font-size: large;
    padding-top: 20px;
}

.flex-container {
    display: block;
    width: 100%;
}

.images{
    border-color: black;
    border-radius: 20px;
    border-width: 20px;
}

